Rentora.Presentation/bin/Debug/net8.0/appsettings.json
Rentora.Presentation/appsettings.json

bin/
obj/
Resourses/rentora-453721-0bd2cc9b6341.jsonRentora.Presentation/wwwroot/Resourses/rentora-453721-0bd2cc9b6341.json
Rentora.Presentation/wwwroot/Resourses/rentora-453721-0bd2cc9b6341.json
